/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }

* { margin: 0; padding: 0; box-sizing: border-box}

body {
    //font-family: "Open Sans";
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.i-tooltip::after {
    content:"\24d8"; 
    margin-left: 6px;
    color: grey;
    vertical-align: top;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}