.page-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}
.content-container {
    height: 100%;
    width: 414px;
    max-width: 414px;
    // border: 1px solid grey;
}

.tabs {
    width: 414px;
    max-width: 414px;
}