<div class="page-container">
    <div class="content-container" *ngIf="summary">
        <mat-tab-group [selectedIndex]="selectedTab" mat-stretch-tabs class="tabs">
            <mat-tab label="Summary">
                <ng-template matTabContent>
                    <app-summary [summary]="summary" [summary-days]="days" [slide-index]="slideIndex"></app-summary>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <p>
                        <span [matBadge]="summary?.incomes_nc || 0" matBadgeOverlap="false" matBadgeColor="accent">Income</span>
                    </p>
                </ng-template>
                <ng-template matTabContent>
                    <app-income></app-income>
                </ng-template>
            </mat-tab>
            <mat-tab label="Expenses">
                <ng-template matTabContent>
                    <app-expense></app-expense>
                </ng-template>

            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="content-container" *ngIf="!summary">
        Loading ...
    </div>
</div>