<div class="expenses-wrapper">
    <div class="btn-container">
        <button mat-mini-fab (click)="addExpense()">
            <mat-icon aria-label="Agregar un gasto">add</mat-icon>
        </button>
    </div>

    <div class="list-container" *ngIf="expenses">
        <h1>Gastos Cecilia</h1>

        <div class="date-container" *ngFor="let date of getDates()">
            <div class="date-line">
                <!-- <mat-icon matListIcon>calendar_today</mat-icon> -->
                <div class="date-separator"></div>
                <div class="date">{{date | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="lines-container">
                <div #swipeElement *ngFor="let expense of getExpenses(date);"
                     class="line-container"
                     (tap)="swOnTap(expense,swipeElement)"
                     (swipeleft)="swipe(expense, $event.type, swipeElement)"
                     (swiperight)="swipe(expense, $event.type, swipeElement)">

                    <div class="line">

                        <span>{{(expense.category.descrip) ? expense.category.descrip : "Sin categoria"}}</span>
                        <span class="amount">$&nbsp;{{expense.amount | number:'0.2-2'}}</span>
                    </div>
                    <p>
                        <span class="descrip">{{expense.descrip}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>